body {
  font: 1em sans-serif;
    align-self: center;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-image: linear-gradient(to bottom, #02B635 0%, #18453B 100%);
    color: white;
    height: 1.5em;
    font-size: 1.25em;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-image: linear-gradient(to bottom, #12A0FF 0%, #0E3C63 100%);
    height: 1.5em;
    font-size: 1.25em;
}
.ui-accordion .ui-accordion-content {
    height: 28em;
}
h3{
    font-size: 1.5em;
    font-family: arial;
}
#tabs{
    width:  80%;
    align-self: center;
}
#forceLayout{
    width:  80%;
    color:  white;
}
#quickCal{
    width:  80%;
    color:  #007dc5;
}
h1{
	color: #007dc5;
}

/*force diagram*/
.link {
  fill: none;
  stroke: #CCC;
  stroke-width: 1.5px;
}

.node circle {
  fill: #0db14b ;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 1em sans-serif;
  pointer-events: none;
    fill:      #007dc5;
    stroke:      #007dc5;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    background-color: #dc651e ;
    color: white;
}
.ui-widget-header{
    background-image: linear-gradient(to bottom, #dc651e  0%, #dc651e  100%);
}
.ui-widget-content {
    background: white /*#007dc5*/;
    border-color: #007dc5;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: thin;
    border-color:   #007dc5;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
padding-bottom: 0px;
    border: thin;
    border-color:   #007dc5;
}
.ui-tabs .ui-tabs-panel {
}

/*calendar*/
}
#calEvent{
    background-color:   #F0EFEF;
    color:              #007dc5;
    width:              400;
    height:             100px;
    float:              left;
    padding:            5px;
    margin-left:        10px;
    margin-top:         5px;
    margin-bottom:      5px;
}
.box{
    width:              31em;
    color:              #007dc5;
    padding:            1em;
	margin-left:		1em;
    margin-top:         1em;
    font-size:          1em;
}
.calButton{
    background-color:   #dc651e;
    border-radius:      .25em;
    color:              white;
    font-size:          1em;
    padding:            .25em;
    border:             none;
}
button{
    background-color:   #dc651e;
    border-radius:      .25em;
    color:              white;
    font-size:          1em;
    padding:            .25em;
    border:             none;
}
#heading{
    color:              #007dc5 ;
    font-size:          1em;
}
input{
    font-size:  1em;
}
/*globe*/
path {
  fill: none;
  stroke-linejoin: round;
}
.polygon{
  fill-opacity: .25;
}

.sphere,
.graticule {
  stroke: #aaa;
  fill-opacity: .25;
}

.equator {
  stroke: red;
  stroke-width: 2px;
}
.background {
  stroke: none;
  fill: #eef;
}
.land {
  stroke-width: .75px;
  pointer-events: all;
}
.graticule {
  stroke: #333;
  stroke-width: .25px;
}
.bounds {
  fill: #f00;
  fill-opacity: .25;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: none;
}
.country:hover .bounds {
  stroke-width: 2px;
}
.country:hover .land {
  stroke-width: 1px;
}
.outline {
  stroke: #000;
  stroke-width: 1.5px;
  fill: none;
}
.antimeridian {
  stroke-dasharray: 5 5;
}

.example path.Polygon {
  fill: url(#hatch);
}
.example text {
  font-size: 11px;
  font-family: sans-serif;